header {
  background-color: blueviolet;
  margin-bottom: 20px;
  padding: 20px;
}
.container {
  justify-content: center;
  display: flex;
  padding: 15px;
}
.div_button {
  display: flex;
  justify-content: center;
}
button {
  font-size: larger;
  font-weight: bolder;
  height: 65px;
  width: 95px;
  border-radius: 12px;
}
.score {
  display: flex;
  justify-content: center;
}

.box_one_a {
  display: block;
  border: solid;
  border-radius: 12px;
  background-color: red;
  height: 200px;
  width: 200px;
}
.box_one_b {
  display: none;
  border: solid;
  border-color: white;
  border-radius: 12px;
  background-color: rgb(243, 96, 96);
  height: 200px;
  width: 200px;
}
.box_two_a {
  display: block;
  border: solid;
  border-radius: 12px;
  background-color: rgb(25, 0, 255);
  height: 200px;
  width: 200px;
}
.box_two_b {
  display: none;
  border: solid;
  border-color: white;
  border-radius: 12px;
  background-color: rgb(97, 84, 209);
  height: 200px;
  width: 200px;
}
.box_three_a {
  display: block;
  border: solid;
  border-radius: 12px;
  background-color: rgb(0, 110, 0);
  height: 200px;
  width: 200px;
}
.box_three_b {
  display: none;
  border: solid;
  border-color: white;
  border-radius: 12px;
  background-color: rgb(22, 219, 55);
  height: 200px;
  width: 200px;
}
.box_four_a {
  display: block;
  border: solid;
  border-radius: 12px;
  background-color: rgb(247, 222, 0);
  height: 200px;
  width: 200px;
}
.box_four_b {
  display: none;
  border: solid;
  border-color: white;
  border-radius: 12px;
  background-color: rgb(194, 231, 61);
  height: 200px;
  width: 200px;
}

footer {
  background-color: rgb(226, 43, 43);
  padding: 20px;
}
