header {
  background-color: blueviolet;
  margin-bottom: 20px;
  padding: 50px;
}
.container {
  justify-content: center;
  display: flex;
  padding: 80px;
}
.div_button {
  display: flex;
  justify-content: center;
}
button {
  font-size: larger;
  font-weight: bolder;
  height: 65px;
  width: 95px;
  border-radius: 12px;
}
.box_one_a {
  display: block;
  border: solid;
  border-radius: 12px;
  background-color: red;
  border-color: white;
  height: 200px;
  width: 200px;
}
.box_one_b {
  display: none;
  border: solid;
  border-radius: 12px;
  background-color: rgb(243, 96, 96);
  border-color: white;
  height: 200px;
  width: 200px;
}
.box_two {
  border: solid;
  border-radius: 12px;
  background-color: rgb(202, 202, 45);
  border-color: white;
  height: 200px;
  width: 200px;
}
.box_three {
  border: solid;
  border-color: white;
  border-radius: 12px;
  background-color: darkblue;
  height: 200px;
  width: 200px;
}
.box_four {
  border: solid;
  border-radius: 12px;
  background-color: green;
  border-color: white;
  height: 200px;
  width: 200px;
}

footer {
  background-color: rgb(226, 43, 43);
  padding: 50px;
}
